@import "../styles/mixins";

.home{
    &__title{
        text-align: center;
        color: black;
        span{
            background: -webkit-linear-gradient(orange, yellow);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}   